header {
    background-image: linear-gradient(rgba(13, 1, 43, 0.5), rgba(105, 11, 159, 0.5));
    background-color: #2E7D32;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #ffffff;
    height: 500px;
    overflow: hidden;
  }
  
  section {
    padding: 50px;
    margin-top: 64px;
  }
  
  section h1 {
    font-size: 4rem;
    line-height: 4rem;
  }
  
  section p {
    width: 50%;
  }
  
  @media screen and (min-width: 600px) and (max-width: 959px) {
    section p {
      width: 100%;
    }
  }
  
  @media screen and (max-width: 599px) { 
    header {
      height: 400px;
    }
    section {
      padding: 25px;
    }
  
    section h1 {
      font-size: 3rem;
      line-height: 3rem;
    }
  
    section p {
      width: 100%;
    }
  }