<mat-card>
  <mat-card-content>
    <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()" >
      <h2>Registration</h2>
      <mat-form-field>
        <input matInput type="text" placeholder="Username" formControlName="username" >
      </mat-form-field>
      <mat-form-field>
        <input matInput type="text" placeholder="Email" formControlName="email" >
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" placeholder="Password" formControlName="password" >
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" placeholder="Password Again" formControlName="rePassword" >
      </mat-form-field>
      <button mat-raised-button color="primary" type="password" >Registration</button>
    </form>
  </mat-card-content>
</mat-card>